html {
    font-size: 16px;
}

body {
    font-size: 16px;
    font-family: Merriweather, serif;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5 {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 60px 0 30px 0;
}

h3 {
    margin: 20px 0 15px 0;
}

/*Header in hero section*/
.header-featured-text {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/*Class for main titles*/
.title {
    font-size: 2.5rem;
    font-weight: bold;
}

/*Class for centering the text*/
.text-center {
    text-align: center;
}

/*Class for bold text*/
.text-bold {
    font-weight: bold;
}

/*Boxes in "My projects" section*/
.my-projects__box {
    display: flex;
    flex-direction: column;
    max-width: 555px;
    /*width: 100%;*/
    max-height: 500px;
    margin: 30px auto 0 auto;
    padding: 30px;
    background: #fff;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

/*.my-experience__box__screen {
    max-height: 75%;
    margin-bottom: 15px;
}*/
/*
.my-projects__box__description {
    padding-top: 15px;
}*/

/*
!*Dodaje zapas miejsca nad body. Potrzebne przy navbar-fixed-top.*!
body{
    padding-top: 80px;
}

!*Dodaje wyśrodkowanie obrazów w widoku xs.*!
.img-responsive {
    margin: 0 auto;
}

!*Dodaje zapas miejsca pod każdym img, aby nie były zlane jeden pod drugim.*!
img{
    padding-bottom: 10px;
}

!*Dodaje niewidzialny element przed każdym id. Potrzebne przy navbar-fixed-top, aby nie zasłaniać contentu przy przechodzeniu między odnośnikami.*!
*[id]:before {
    display: block;
    content: " ";
    margin-top: -80px;
    height: 80px;
    visibility: hidden;
}

!*Zwiększa rozmiar czcionki dla wszystkich elementów h2 na ekranach o większej rozdzielczości niż zdefiniowana.*!
@media screen and (min-width: 768px) {
    h2{
        font-size:38px;
    }
}
*/
